/*---Navigation----*/

* {
    margin: 0;
    padding: 0;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
}

.navbar-brand img {
    height: 40;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: red!important;
}

.navbar {
    background: #FFF;
}

.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size: 15px;
}


}
.navbar {
    background: #FFF;
}
.navbar-toggler {
    border: none!important;
}
#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}
#about .btn {
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content {
    padding-top: 20px;
    padding-left: 20px;
}
.progress-bar {
    border-radius: 16px;
}
.progress {
    border-radius: 16px !important;
}

/*-Footer-*/
#services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/logo.png);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 50px;
    text-align: center;
}