/*---Navigation----*/

* {
    margin: 0;
    padding: 0;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
    color: red;
}

.navbar-brand img {
    height: 40;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: red!important;
}

.navbar {
    background: #FFF;
}

.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size: 15px;
}

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}

#about .btn {
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content {
    padding-top: 20px;
    padding-left: 20px;
}

.progress-bar {
    border-radius: 16px;
}

.progress {
    border-radius: 16px !important;
}


/*-Footer-*/

#services {
    background-color: rgb(53, 165, 53);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services ul li {
    list-style: none;
}

#services p {
    text-align: center;
}

#services h1::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 50px;
}

.icon {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 20px;
    margin: auto;
    font-weight: 400;
}

h1 {
    text-align: center;
}

#services .btn {
    border: black;
    color: white;
    padding: 0;
    font-size: 30px;
    cursor: pointer;
}

#services .btn {
    background-color: green;
}

#nav-bar ul li {
    color: black;
    padding: 0px 0px 0px 20px;
    font-size: 20px;
    font-weight: 500;
    float: right;
    list-style: none;
}

#nav-bar button {
    border: none;
    background-color: white;
}

.banner1 {
    position: relative;
}

.banner1 .banner2 {
    position: absolute;
    top: 0;
    left: 0;
}

.banner1 .banner3 {
    position: absolute;
    top: 30px;
    right: 30px;
}

.banner1 .banner4 {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 40px;
}

.banner1 .banner5 {
    position: absolute;
    padding-left: 180px;
    bottom: 0;
}

.banner1 .banner6 {
    position: absolute;
    padding-right: 300px;
    bottom: 50;
}

.banner1 .banner7 {
    position: absolute;
    padding-left: 250px;
    bottom: 0;
}